@{
    ViewBag.Title = "Home Page";
}

@*Home Section*@
<section id="home-section" class="text-light">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-4">
                            Build <strong> Social profail </strong>
                            and gain revenue and <strong> profit. </strong>
                        </h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start mt-2">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p class="lead">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five
                                    centuries.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start mt-2">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p class="lead">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five
                                    centuries.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start mt-2">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p class="lead">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five
                                    centuries.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h3>Sing Up Today</h3>
                                <p>Plese fill out this form to register</p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" placeholder="Username" name="username" class="form-control form-control-lg"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" placeholder="Email" name="email" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Password" name="pass1" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Confirm Password" name="pass2" class="form-control form-control-lg" />
                                    </div>
                                    <input type="submit" class="btn btn-outline-light btn-block" value="Submite" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*About Section*@
<section id="about-head-section" class="text-light text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-3">About</h2>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="#" class="btn btn-outline-light">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<section id="about-head2-section" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-2">
                <img alt="Samim, Prothoma & Biswajit" class="img-fluid rounded" src="~/IMG/bg6.JPG" />
            </div>
            <div class="col-lg-6 col-md-12 text-dark">
                <h3>Frinds for Ever</h3>
                <p class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start mt-2">
                        <i class="fa fa-check ST"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start  mt-2">
                        <i class="fa fa-check ST"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Service Section*@
<section id="servicec-head-section" class="py-5 bg-info text-light text-center">
    <div class="container">
        <h3 class="display-3">Service</h3>
        <p class="lead">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <a href="#" class="btn btn-outline-light">Find Out More</a>
    </div>
</section>

<section id="servicec-head2-section" class="bg-dark">
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-6 col-md-12 py-5">
                <h3>Creat Your Passion</h3>
                <p class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <div class="d-flex flex-row">
                    <div class="align-self-start p-4 mt-2">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="align-self-end p-4 mt-2">
                        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="align-self-start p-4 mt-2">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="align-self-end p-4 mt-2">
                        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>                
            </div>    
            <div class="col-md-12 col-lg-6 py-5">
                <img alt="Crate Your Passion" class="img-fluid rounded" src="~/IMG/bg7.jpg" />
            </div>   
        </div>
    </div>
</section>

@*Contact Section*@

<section id="contact-head-section" class="bg-primary text-center text-light">
    <div class="container py-5">
        <h3 class="display-3">Contact</h3>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="btn btn-outline-dark">Find Out More</a>
    </div>
</section>

<section id="contact-head2-section" class="bg-light py-5 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="~/IMG/bg8.JPG" alt="Contact Firnd" class="img-fluid mt-2 rounded" />
            </div>
            <div class="col-lg-6 col-md-12">
                <h3>Contact with Us</h3>
                <p class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start mt-2">
                        <i class="fa fa-check ST"></i>
                    </div>              
                    <div class="p-4 align-self-end">
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>      
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start mt-2">
                        <i class="fa fa-check ST"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

