@{
    ViewBag.Title = "Home Page";
}

@*showcase section*@

<section id="showcase" class="py-5 text-center text-light">
    <div class="primary-overly">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h1 class="display-1 mt-5 pt-5">Do What You Dream Of....</h1>
                    <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="#" class="btn btn-light btn-lg"><i class="fa fa-arrow-right"></i> Read More</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid d-none d-lg-block" alt="Blind" src="~/img/bg1.5.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

@*Subscribe sectin*@

<section id="subscribe" class="bg-dark py-5">
    <div class="container">
        <form class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control form-control-lg" />
                </div>
            </div> 
                <div class="col-lg-4 my-2 my-md-3 my-lg-0">
                    <div class="form-group">
                        <input type="email" placeholder="E-mail" class="form-control form-control-lg" />
                    </div>
                </div> 
            <div class="col-lg-4">
                <button class="btn btn-primary btn-lg btn-block">
                    <i class="fa fa-envelope-open-o"></i> Subscribe
                </button>
            </div>                                  
        </form>
    </div>
</section>

@*Boxs section*@
<section id="Boxs" class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">Be Batter</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary bg-primary">
                    <div class="card-body">
                        <h3>Be Smarter</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">Be Faster</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary bg-primary">
                    <div class="card-body">
                        <h3>Be Stronger</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>