@{
    ViewBag.Title = "Home Page";
}

@*slider section*@
<section id="showcase" class="bg-dark">
    <div id="MyCarousel" data-ride="carousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-slide-to="0" class="active" data-target="#MyCarousel"></li>
            <li data-slide-to="1" data-target="#MyCarousel"></li>
            <li data-slide-to="2" data-target="#MyCarousel"></li>
        </ol>
        <div class="carousel-inner TS">
            <div class="carousel-item carousel-img-1 active">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5">
                        <h2 class="display-4">Heading One</h2>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        <a href="#" class="btn btn-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-img-2">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-right">
                        <h2 class="display-4">Heading Two</h2>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        <a href="#" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-img-3">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-left">
                        <h2 class="display-4">Heading Three</h2>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>      
        <a href="#MyCarousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>  
        <a href="#MyCarousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a> 
    </div>
</section>

@*Home Icon Section*@
<section class="py-5 text-center" id="homeicon">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-2">
                <i class="fa fa-gears"></i>
                <h3 class="my-2">Turning Gears</h3>
                <p class="lead mb-0">It is a long established fact that a reader will be distracted by the readable content of
                 a page when looking at its layout.</p>
            </div>
            <div class="col-md-4 my-2">
                <i class="fa fa-cloud"></i>
                <h3 class="my-2">Seading Data</h3>
                <p class="lead mb-0">
                    It is a long established fact that a reader will be distracted by the readable content of
                    a page when looking at its layout.
                </p>
            </div>
            <div class="col-md-4 my-2">
                <i class="fa fa-cart-plus"></i>
                <h3 class="my-2">Makeing Money</h3>
                <p class="lead mb-0">
                    It is a long established fact that a reader will be distracted by the readable content of
                    a page when looking at its layout.
                </p>
            </div>
        </div>
    </div>
</section>

@*Home get start section 46 *@
<section id="getstarted" class="py-5 text-center text-light STG">
    <div class="dark-overly">
        <dev class="container">
            <div class="row">
                <div class="col mt-5 pt-4">
                    <h3>Are You Ready To Get Start?</h3>
                    <p class="lead">
                        It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.
                    </p>
                </div>
            </div>
        </dev>
    </div>
</section>